@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-brand-50: #eff4f9;
  --color-brand-100: #dce7f2;
  --color-brand-200: #bacde0;
  --color-brand-300: #91abc9;
  --color-brand-400: #6284ac;
  --color-brand-500: #3e638d;
  --color-brand-600: #18385b; /* Brand DEFAULT */
  --color-brand-700: #132c48; /* Brand Hover */
  --color-brand-800: #0e2136; /* Brand Active/Dark */
  --color-brand-900: #091524;
  --color-brand-950: #050a12;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', -apple-system, sans-serif;
  background-color: #FFFFFF;
  color: #1E293B;
  line-height: 1.6;
  overflow-x: hidden;
}